body{
    background-image: url("../images/watercolor2.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#topbar{
    background-color:#0080ff;
    font-family:'Federant';
    color: #fffaf0;
    height:200px
    
}
#gamerules{
    font-family:'Federant';
}
#reach{
    border: 2px solid #00bfff;
    text-align: center;
    padding:20px;
    margin-bottom:20px;
    font-family: 'Federant';
    
}
#score{
    position:absolute;
    left:25%;
    border: 2px solid #00bfff;
    text-align: center;
    padding:20px;
    margin-top:20px;
    font-family: 'Federant';
}
#gameScore{
    border: 2px solid #00bfff;
    padding:20px;
    margin-bottom:20px;
    font-family: 'Federant';
}

.card{
    border: 2px solid #00bfff;
   
}


   
